<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${applicationId}" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="wc" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="likecoin.page.link"
                    android:scheme="http" />
                <data
                    android:host="likecoin.page.link"
                    android:scheme="https" />
                <data
                    android:host="oice.com"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="likecoin.page.link"
                    android:scheme="http" />
                <data
                    android:host="likecoin.page.link"
                    android:scheme="https" />
            </intent-filter>

            <!-- Branch App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="likerland.app.link"
                    android:scheme="https" />
            </intent-filter>

            <!-- Super Like short links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="s.like.co"
                    android:scheme="https" />
                <data
                    android:host="s.rinkeby.like.co"
                    android:scheme="https" />
            </intent-filter>

            <!-- getapp as universal entrance -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="liker.land"
                    android:scheme="https"
                    android:pathPrefix="/getapp" />
                <data
                    android:host="liker.land"
                    android:scheme="https"
                    android:pathPattern="/.*/getapp/.*" />
                <data
                    android:host="rinkeby.liker.land"
                    android:scheme="https"
                    android:pathPrefix="/getapp" />
                <data
                    android:host="rinkeby.liker.land"
                    android:scheme="https"
                    android:pathPattern="/.*/getapp/.*" />
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
        <activity
            android:name=".share.ShareActivity"
            android:configChanges="orientation"
            android:label="@string/share_extension_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.branch.sdk.TestMode"
            android:value="false" />
        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="@string/branch_io_live_key" />
    </application>

</manifest>
