<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:bchai.cc</string>
		<string>applinks:ckxpress.com</string>
		<string>applinks:oice.com</string>
		<string>applinks:ngwingt.at</string>
		<string>applinks:zombicide-invader-helper.netlify.com</string>
		<string>applinks:likecoin.page.link</string>
	</array>
</dict>
</plist>
